#treatment{
background-color: #fff;
    
.content{
margin: 50px 0;
    display: flex;
    width: 90%;
    align-items: center;
    padding:20px;
    justify-content: space-evenly;
    .imgContainer{
        
        flex-grow: 1
        ;
    }
}
.contentOne{
    background-color: #f7f5f2;
    
}
.contentThree {
    background-color: #f7f5f2;
}
.contentTwo {
    background-color: #f7f5f2;
     display: flex;
     justify-self: flex-end;
     justify-content: flex-end;
}
.contentFour {
    background-color: #f7f5f2;
    display: flex;
        justify-self: flex-end;
        justify-content: flex-end;
}

}