#cause{
    
    .greybg{
        
        p{
            text-align: justify;
            span{
                font-size: 1.5rem;
                font-weight: bold;
            }
        }
    }
    .virus{
        width: 100px !important;
        height: 100px !important;
        
    }
}