:root{
  --bs-body-bg:#f7f5f2;
  --bs-link-color:#000;
  --bs-link-hover-color:rgba(177, 143, 70, 1);
  --gold-color:#B18F46
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

body, html{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
  background-color: rgba(177, 143, 70, 0.05);
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6{
  /* font-family: 'Jost', sans-serif; */
  /* font-family: 'Bacasime Antique', serif; */
  font-family: 'Libre Baskerville', serif;
  
}
.carousel-container {
  position: relative;
 
  
  
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: auto 20px;
  cursor: grab;
}

.container:active {
  cursor: grabbing;
}

.slides-container {
  display: flex;
  justify-content: center;
}

.slide {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  user-select: none;
}

.slide img {
  position: relative;
  pointer-events: none;
  width: 500px;
  height: auto;
  overflow: hidden;
  border-radius: 20px;
  object-fit: cover;
  transform-origin: bottom;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  will-change: transform;
}

.slide.active img {
  border: 10px solid cadetblue;
  transform: scale(1.2);
}
.frame {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  height: 500px;
}

.center {
  position: absolute;
   
  transform: perspective(60px) translate(-50%, -50%);
  transform-style: preserve-3d;
}

.card {
  position: absolute;
  width: 350px;
  height: 350px;
  left: 125px;

  border: 5px solid #fff;
}

.card img {
  width: 100%;
}

#card1 {
  animation: cardAnim 6s ease-in-out infinite;
}

#card2 {
  animation: cardAnim 6s ease-in-out infinite;
  animation-delay: -2s;
}

#card3 {
  animation: cardAnim 6s ease-in-out infinite;
  animation-delay: -4s;
}
#card4 {
  animation: cardAnim 6s ease-in-out infinite;
  animation-delay: 0s;
}
@keyframes cardAnim {

  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  33.33% {
    transform: translate3d(10px, -50%, -50px);
    
  }

  66.67% {
    transform: translate3d(-350px, -50%, -50px);
  }
}
a{
  color:#000;
  text-decoration: none;
}
a:hover{
  color:#B18F46;
}
/*  animation*/

.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  margin: 0 auto;
  text-align: center;
}

.top-section h1 {
  font-size: 60px;
}
.wrapper1{
  /* background-color: rgba(255, 238, 5, 0.4); */
  padding: 3rem 0;
   
   
}
.wrapper2{
  /* background-color: rgba(99,44, 145, 0.25); */
  padding: 3rem 0;
   
}
.wrapper3 {
  /* background-color: rgba(246,136,54, 0.4); */
    padding: 3rem 0;
    
}
.wrapper4 {
  /* background-color: rgba(181, 182, 185, 0.4); */
  padding: 3rem 0;
   
}
.wrapper5 {
  /* background-color: rgba(208,142,175, 0.4); */
  padding: 3rem 0;
  
}
.scroll-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  /* This is needed to prevent the image from "jittering" partway through the transition */
  overflow: hidden;
}
 
.img-container {
  width: 50%;
  display: flex;
  align-items: center;
  position: relative;
}

.copy {
  display: flex;
   
  flex-direction: column;
  justify-content: center;
  width: 40%;
   
  text-align: left;
}

.copy h2 {
  text-align: left;
  margin-top: 0;
}

/*animation*/
.topHeader{
  background-color:#000;
  padding: 15px 0;
}
.topHeader ul{
  display:flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.topHeader ul li{
  padding:5px 50px;
  width: fit-content;
  color:#fff;
  font-size: 16px;
  position: relative;
  font-family: 'Noticia Text', serif;
  letter-spacing: 2px;
}
.topHeader ul li::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #fff;
  right: 0;
  top: 0;
}
.title {
  position: relative;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  width: fit-content;
  padding-bottom: 30px;
  font-weight: bold;
}

/* .title::before {
  content: '';
  position: absolute;
  height: 100px;
  width: 200px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(177, 143, 70, 1);
  bottom: 0px;
  transform: 50% 50%;
  clip-path: path("M 10 80 C 40 100, 65 60, 95 80 S 150 60, 180 80");
  
} */

.borderTopLeft{
  border-top-left-radius: 150px;
}
.borderBottomLeft {
  border-bottom-left-radius: 150px;
}
.borderTopRight {
  border-top-right-radius: 150px;
}
.borderBottomRight {
  border-bottom-right-radius: 150px;
}
/*text animation*/
.wrapper {
  display: flex;
 
}

.wrapper .static-txt {
  color: #fff;
  /* font-size: 50px; */
  font-weight: 400;
      height: 90px;
        line-height: 90px;
}
.wrapper .static-txt span{
  font-weight: 900;
    height: 90px;
    line-height: 90px;
    color:red;
    

}
.wrapper .dynamic-txts {
  padding: 0 5px;
  height: 90px;
  /* line-height: 90px; */
  overflow: hidden;
}

.dynamic-txts li {
  list-style: none;
  color: #FC6D6D;
  /* font-size: 50px; */
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.dynamic-txts li span {
  position: relative;
  /* margin: 5px 0;*/
  line-height: 90px; 
}

.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  top:0px;
  height: 100%;
  width: 100%;
  background: #000;
  /* border-left: 2px solid #FC6D6D; */
  animation: typing 3s steps(5) infinite;
}

@keyframes typing {

  40%,
  60% {
    left: calc(100% + 30px);
  }

  100% {
    left: 0;
  }
}

/*text animation*/

.container .text {
  position: relative;
  color: #B18F46;
  font-size: 20px;
  font-weight: 600;
}

.container .text.first-text {
  color: #000;
}

.text.sec-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f7f5f2;
  border-left: 2px solid #f7f5f2;
  animation: animate 4s steps(12) infinite;
}

@keyframes animate {

  40%,
  60% {
    left: calc(100% + 4px);
    width: calc(100% - 50%);
  }

  100% {
    left: 0%;
  }
}

.sliderArrow {
  background: #FCFCFC;
  border: 1.5px solid rgba(177, 143, 70, 1);;
  padding: 10px;
  border-radius: 50%;
  margin: 15px;
  cursor: pointer;
}
 .w1400 {
   width: 1400px;
   padding: 50px 0;
   margin: 0 auto;
 }
@media screen and (max-width:1368px) {
  
    .wrapper{
      display: none !important;
    }
         .scroll-container {
           gap: 20px !important;
    
         }
}

@media screen and (max-width:768px) {
  .wrapper span{
    font-size: 15px !important;
  }
  .wrapper{
    justify-content: center;
  }

  #maiVideo video{
    height: 100%;
  }
  .title{
    font-size: 1.4rem;
    text-wrap: balance;
  }
   
    
}

@media screen and (max-width:1400px) {
  .w1400 {
    width: 100% !important;
    padding:20px
  }
  .copy{
    width: 100% !important;
    
  }
  .img-container{
    width: 100% !important;
    margin-top: 20px;
  }
}

@media  screen and (max-width:548px) {
  .scroll-container {
      flex-wrap: wrap !important;
  
    }
    .copy{
      padding:0 20px;
    }
}